---
import FeaturesSection from "./FeaturesSection.astro";
const features = [
    {
        title: "Store",
        image: "/Create_Authoring.png",
        desc: "Make contracting frictionless. Set up your own playbook, enable teams to collaborate anywhere, and empower them with AI-led insights so that they can draft deals that are always aligned with your business goals.",
        feature_highlights: [
            "Configure a comprehensive contract playbook to match your enterprise’ risk appetite.",
            "Ensure standardization with preapproved clause and template libraries.",
            "Define preferred, alternative, and walkaway positions for every clause.",
            "Configure your own workflows for how you work – no code required.",
            "Initiate a contract request right from where you are, be it Salesforce, Slack, or SAP.",
            "Collaborate in real time on drafts using the in-app editor or the Microsoft Word plugin.",
            "Flow down pre-negotiated clauses from past contracts to reduce drafting and negotiation time.",
            "Enable users to create their own clause variations and send them for review.",
        ],
        data: [
            {
                title: "Trust",
                desc: "Sirion’s AI prevents hallucinations by using right-sized models with a range of decision pathways suited to the job at hand. Every response is understandable and explainable because you can trace it back to precedent in your own contract data.",
            },
            {
                title: "Speed",
                desc: "With a proven ability to process over one million documents in 24 hours, Sirion's SEA quickly and accurately extracts hundreds of fields from thousands of contracts.",
            },
            {
                title: "Security",
                desc: "Sirion protects all of your contract data within your secure contract ecosystem. The platform does not rely on or connect with any third-party LLM outside its environment or use your contracts to train LLMs.",
            },
        ],
    },
    {
        title: "Create",
        image: "/Create_Authoring.png",
        desc: "Use your custom playbook and Sirion’s AI to clear a path through a maze of clauses, discover key issues regardless of how they’re written or spliced across a contract, and see how those issues affect your business.",
        feature_highlights: [
            "Identify and analyze every material deviation from your playbook.",
            "Get plain-language explanations of detected issues, along with a summary of the contract itself.",
            "Generate a comprehensive risk profile of your entire repository.",
            "See identified issues grouped by type, with a visual risk scale to help you prioritize them for review.",
            "Leverage insights from risk reviews to refine your playbooks.",
        ],
        data: [
            {
                title: "Trust",
                desc: "Sirion’s AI prevents hallucinations by using right-sized models with a range of decision pathways suited to the job at hand. Every response is understandable and explainable because you can trace it back to precedent in your own contract data.",
            },
            {
                title: "Speed",
                desc: "With a proven ability to process over one million documents in 24 hours, Sirion's SEA quickly and accurately extracts hundreds of fields from thousands of contracts.",
            },
            {
                title: "Security",
                desc: "Sirion protects all of your contract data within your secure contract ecosystem. The platform does not rely on or connect with any third-party LLM outside its environment or use your contracts to train LLMs.",
            },
        ],
    },
    {
        title: "Manage",
        image: "/Create_Authoring.png",
        desc: "Redlining agreements has never been this easy or smart. Sirion’s AI helps you close deals faster than ever before while giving you the control and precision to effectively mitigate contract risk.",
        feature_highlights: [
            "Remediate issues with redline recommendations precisely tailored to your playbooks.",
            "Edit clauses efficiently using plain-language prompts.",
            "Insert terms directly from your playbooks.",
            "Get redlining assistance right in the online editor.",
            "Collaborate securely with colleagues and counterparties.",
            "Automate signature collection with seamless eSignature integrations.",
        ],
        data: [
            {
                title: "Trust",
                desc: "Sirion’s AI prevents hallucinations by using right-sized models with a range of decision pathways suited to the job at hand. Every response is understandable and explainable because you can trace it back to precedent in your own contract data.",
            },
            {
                title: "Speed",
                desc: "With a proven ability to process over one million documents in 24 hours, Sirion's SEA quickly and accurately extracts hundreds of fields from thousands of contracts.",
            },
            {
                title: "Security",
                desc: "Sirion protects all of your contract data within your secure contract ecosystem. The platform does not rely on or connect with any third-party LLM outside its environment or use your contracts to train LLMs.",
            },
        ],
    },
];
---

<section class="w-11/12 mt-12 md:mt-24 mx-auto max-w-7xl md:gap-16 flex flex-col">
    <div class="text-center text-[#f5f6f6] flex gap-12 flex-col">
        <div class="md:w-7/12 mx-auto text-3xl font-light">
            A Unified Contracting Experience on a Truly AI-Native Platform
        </div>
        <div class="w-11/12 md:w-5/12 mx-auto text-xl font-extralight">
            Sirion’s CLM platform redefines contracting. Simplify how you
            discover insights, manage risk, and automate busy work, to enable
            frictionless collaboration across teams and build strategic value
            for your business.
        </div>
    </div>

    {features.map((feature, index) => <FeaturesSection feature={feature} />)}
</section>
