<section>
  <div
    class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-12"
  >
    <style>
      .gradient-text {
        background: linear-gradient(to right, #662d8c, #ed1e79);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      .gradient-bg {
        background: linear-gradient(to right, #662d8c, #ed1e79);
        color: white;
      }
      .gradient-bg:hover {
        background: transparent;
        border-color: #662d8c;
        color: #ed1e79;
        transform: scale(1.2);
      }
    </style>
  </div>
  <div>
    <div class="text-center max-w-4xl mx-auto">
      <div class="sm:flex sm:justify-center">
        <div
          class="relative gradient-bg rounded-full py-0 px-3 text-sm leading-6 text-gray-800 ring-1 ring-gray-900/10 hover:ring-gray-900/20"
        >
          <a href="" class="font-semibold"
            ><span class="absolute inset-0" aria-hidden="true"></span>
            <span class="block lg:inline">
              Check our Blogs <span aria-hidden="true">&rarr;</span>
            </span>
          </a>
        </div>
      </div>
      <p
        class="text-4xl tracking-tight font-medium text-black md:text-5xl font-display mt-8"
      >
        <span class="font-bold gradient-text">AI Powered</span> Contract Management
      </p>
      <p class="text-gray-500 lg:text-xl max-w-2xl mt-4 mx-auto text-base">
        Revolutionize Your Enterprise with Generative AI-driven CLM
      </p>
    </div>
    <div class="flex justify-center gap-3 mt-10 flex-col sm:flex-row">
      <a
        class="items-center justify-center h-12 font-medium rounded-xl focus-visible:outline-black focus:outline-none border-2 inline-flex gradient-bg duration-200 focus-visible:ring-black hover:bg-transparent hover:border-black hover:text-black lg:w-auto px-6 py-3 text-center text-white w-full"
        href=""
        >Try Now – Discover the AI Advantage
      </a>
    </div>
    <dl
      class="lg:gap-x-8 lg:grid-cols-1 max-w-4xl mt-8 mx-auto sm:gap-x-6 sm:gap-y-12 sm:grid sm:grid-cols-2 sm:space-y-0 space-y-6 text-center text-sm items-start"
    >
      <div class="text-gray-500">
        Experience the future of <strong>contract lifecycle management</strong>.
        Elevate efficiency,<br /> compliance, and revenue generation with our world-class,
        AI-powered platform.
      </div>
      <!-- <div class="text-gray-500">
          <strong class="text-gray-700">Includes 6 pages</strong> ━ You will find
          this landing, faq, terms,privacy,sign up and sign in pages.
        </div>
        <div class="text-gray-500">
          <strong class="text-gray-700">Different section</strong> ━ The starter
          includes different feature sections, a pricing table, testmionial, CTA
          and full forms. more.
        </div> -->
    </dl>
  </div>
  <div class="relative w-full mx-auto max-w-7xl items-center py-12 pb-12">
    <div class="bg-gray-100 p-0 rounded-3xl overflow-hidden">
      <video
        class="border lg:rounded-3xl object-cover rounded shadow-2xl"
        src="https://cdn.dribbble.com/userupload/3643989/file/original-5904c662d5f2ef4240d32bfdc66b5e48.mp4"
        autoplay
        loop
        muted
        playsinline
        preload="auto"
      >
        Your browser does not support the video tag.
      </video>
    </div>
  </div>
</section>
