<section>
  <div
    class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24 scroll-mt-12"
  >
    <style>
      .gradient-text {
        background: linear-gradient(to right, #662d8c, #ed1e79);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      .gradient-bg {
        background: linear-gradient(to right, #662d8c, #ed1e79);
        color: white;
      }
      .gradient-bg:hover {
        background: transparent;
        border-color: #662d8c;
        color: #ed1e79;
      }
    </style>
    <div
      class="grid grid-cols-1 gap-4 mt-6 items-center list-none lg:grid-cols-2 lg:gap-24"
    >
      <div class="text-center lg:text-left">
        <div>
          <p
            class="text-4xl tracking-tight font-medium text-black md:text-5xl font-display"
          >
            Your AI Contract <br /><span class="font-bold gradient-text"
              >Co-pilot</span
            >
          </p>
          <p class="text-base mt-4 text-gray-500">
            Simplify contract management like never before. Just upload your
            contract, and watch as our AI comprehensively reviews, analyzes, and
            classifies every detail. From identifying compliance issues to
            suggesting rectifications for non-compliant sections, our AI does it
            all. It’s like having an expert by your side, ensuring every
            contract aligns perfectly with your standards. Welcome to
            hassle-free, precise, and intelligent contract management.
          </p>
        </div>
      </div>
      <div
        class="lg:mt-0 mt-12 h-full hidden lg:block rounded-3xl overflow-hidden border"
      >
        <div class="bg-gray-100 p-0 rounded-2xl overflow-hidden">
          <video
            class="border lg:rounded-3xl object-cover rounded shadow-2xl"
            src="https://cdn.dribbble.com/userupload/13697914/file/original-db1650c4f00a288e3089a8bec2c6ec76.mp4"
            autoplay
            loop
            muted
            playsinline
            preload="auto"
          >
            Your browser does not support the video tag.
          </video>
        </div>
      </div>
    </div>
    <div class="mt-24 w-full gap-12 grid grid-cols-1 lg:gap-24 lg:grid-cols-3">
      <div>
        <div class="gap-3 lg:inline-flex lg:items-center">
          <div
            class="items-center justify-center text-accent-500 bg-gray-100 rounded-xl flex h-10 w-10"
          >
            <ion-icon
              aria-label="scan outline"
              class="hydrated md h-5 w-5"
              name="scan-outline"
              role="img"></ion-icon>
          </div><p
            class="mt-4 text-lg font-semibold leading-6 text-black font-display lg:mt-0"
          >
            Instant Analysis & Classification
          </p>
        </div><p class="text-gray-500 text-sm mt-4">
          Upload your contract and instantly receive an AI-driven analysis,
          categorizing clauses into compliant and non-compliant.
        </p>
      </div><div>
        <div class="gap-3 lg:inline-flex lg:items-center">
          <div
            class="items-center justify-center text-accent-500 bg-gray-100 rounded-xl flex h-10 w-10"
          >
            <ion-icon
              aria-label="scan outline"
              class="hydrated md h-5 w-5"
              name="scan-outline"
              role="img"></ion-icon>
          </div><p
            class="mt-4 text-lg font-semibold leading-6 text-black font-display lg:mt-0"
          >
            Compliance Made Easy
          </p>
        </div><p class="text-gray-500 text-sm mt-4">
          Our AI identifies discrepancies, aligning every contract with industry
          standards and regulations effortlessly.
        </p>
      </div><div>
        <div class="gap-3 lg:inline-flex lg:items-center">
          <div
            class="items-center justify-center text-accent-500 bg-gray-100 rounded-xl flex h-10 w-10"
          >
            <ion-icon
              aria-label="scan outline"
              class="hydrated md h-5 w-5"
              name="scan-outline"
              role="img"></ion-icon>
          </div><p
            class="mt-4 text-lg font-semibold leading-6 text-black font-display lg:mt-0"
          >
            Automated Recommendations
          </p>
        </div><p class="text-gray-500 text-sm mt-4">
          Receive smart, AI-generated suggestions to amend non-compliant
          sections, ensuring full compliance and integrity.
        </p>
      </div>
    </div>
  </div>
</section>
