---
const homeHero = "/hero-landing.jpeg";
import GetADemobutton from "../ui/GetADemobutton.astro";
import ViewPlatformbutton from "../ui/ViewPlatformbutton.astro";

const text1 = "AI Driven Contract";
const letters1 = text1.split('');

const delay = text1.length*0.1

const text2 = "Lifecycle Management";
const letters2 = text2.split('');

---

<style>
    .image-container {
    overflow: hidden; /* Ensures the zoom does not extend outside the container */
    border-radius: 1.5rem; /* Adjust to match Tailwind's rounded-3xl */
    display: inline-block; /* or flex, depending on your layout */
  }

  .zoom-effect {
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
    transform: scale(1); /* Initial scale */
    animation: zoomInOnLoad 3s ease-in-out forwards; /* Initial animation on load */
  }

  @keyframes zoomInOnLoad {
    from { transform: scale(1); }
    to { transform: scale(1.05); }
  }
  @keyframes fadeInEffect {
    from { opacity: 0; }
    to { opacity: 1; }
  }

  .fade-in {
    opacity: 0;
    animation: fadeInEffect 1.3s forwards;
    display: inline-block;
    animation-delay: var(--animation-delay); /* Use CSS variables for delay */
  }

  .custom-background {
      background-image: url('/hero-dark-bg-3000.svg');
      background-size: cover; /* Cover the entire section */
      background-position: center; /* Center the background image */
      box-shadow: inset 0 -130px 200px 0px #0b1821
    }
</style>

<section class="relative custom-background">
    <div class="w-11/12 mx-auto h-auto md:h-screen text-[#f5f6f6] font-light flex flex-col items-center justify-center gap-8 md:gap-24 ">
        <div class="flex flex-col mt-48 md:flex-row gap-8 md:gap-48 w-full max-w-7xl md:mt-32">
            <div class="text-4xl md:text-7xl">
                {letters1.map((letter, index) => (
                    <span class="fade-in" style={{ '--animation-delay': `${index * 0.1}s` }}>
                        {letter === ' ' ? '\u00A0' : letter}
                    </span>
                ))}
                <br>
                {letters2.map((letter, index) => (
                    <span class="fade-in" style={{ '--animation-delay': `${delay + (index * 0.1)}s` }}>
                        {letter === ' ' ? '\u00A0' : letter}
                    </span>
                ))}
            </div>
            <div class="text-xl md:text-xl flex flex-col justify-between">
                <div>
                    Read, write and execute contract <br> using our conversational co-pilot.
                </div>
                <div class="flex flex-col items-start gap-4 my-8 md:my-0 md:flex-row">
                    <GetADemobutton/>
                    <ViewPlatformbutton/>
                </div>
            </div>
        </div>
        <div class="w-full max-w-7xl image-container">
            <img src={homeHero} class="rounded-3xl min-h-60 object-cover zoom-effect" alt="Homepage Hero Image"/>
        </div>
    </div>
</section>

