---
const { metric } = Astro.props;
import { Image } from "astro:assets";
import GetADemobutton from "../ui/GetADemobutton.astro";
---

<div
  class="w-full h-full flex justify-center items-center bg-cover bg-center text-white rounded-xl"
  style={`background-image: url(${metric.image})`}
>
  <div class="bg-white text-[#05272c] bg-opacity-55 rounded-xl p-8 m-32">
    <div class="flex flex-col md:flex-row gap-8 items-center">
      <div class="text-5xl md:text-5xl">{metric.value}%</div>
      <div class="text-5xl md:text-3xl font-light">{metric.title}</div>
    </div>
  </div>
</div>
