---
import Item from '~/components/blog/ListItem.astro';
import type { Post } from '~/types';
import Headline from './Headline.astro';

export interface Props {
  posts: Array<Post>;
}

const { posts } = Astro.props;
---

<ul class="grid md:grid-cols-4 grid-cols-1 gap-4">
  {
    posts.map((post) => (
      <li class="mb-12 md:mb-20">
        <Item post={post} />
      </li>
    ))
  }
</ul>

<Headline>
    <!--       subtitle="A statically generated blog example with news, tutorials, resources and other interesting content related to AstroWind"
 -->
      Most Recents
    </Headline>

<ul class="grid md:grid-cols-4 grid-cols-1 gap-4 bg-transparent">
  
  {
    posts.sort((a, b) => {
  return new Date(b.publishDate) - new Date(a.publishDate);
}).slice(0, 4).map((post) => (
      <li class="mb-12 md:mb-20">
        <Item post={post} />
      </li>
    ))
  }
</ul>