<button
    class="bg-[#303b42] text-[#f5f6f6] flex items-center px-4 py-2 text-xl rounded-2xl hover:brightness-90"
>
    See All Customers <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
    >
        <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M9 5l7 7-7 7"></path>
    </svg>
</button>
