<footer>
  <div class="w-full bg-[#06151e]">
  <div
    class=" mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24"
  >
    <div class="grid grid-cols-2 lg:grid-cols-4 items-start gap-x-8 gap-y-24">
      <a
        href="/"
        class="xl:col-span-1 text-[#F5F6F6] inline-flex items-center gap-3"
      >
        <svg
          class="h-4"
          viewBox="0 0 78 32"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M55.5 0H77.5L58.5 32H36.5L55.5 0Z"
            class="ccustom"
            fill="#283CFF"></path>
          <path
            d="M35.5 0H51.5L32.5 32H16.5L35.5 0Z"
            class="ccompli1"
            fill="#5263FF"></path>
          <path
            d="M19.5 0H31.5L12.5 32H0.5L19.5 0Z"
            class="ccompli2"
            fill="#808CFF"></path>
        </svg>
        <span class="font-bold font-display">ContraVault</span>
      </a>
      <div
        class="md:grid md:grid-cols-2 xl:grid-cols-4 md:gap-8 text-sm text-gray-400 lg:col-span-3"
      >
        <div>
          <h3 class="text-lg text-[#F5F6F6] font-medium tracking-tight">
            All pages
          </h3>
          <ul role="list" class="mt-4 space-y-1">
            <li>
              <a href="/" class=""> Home </a>
            </li>
            <li>
              <a href="/faq" class="hover:text-[#F5F6F6]"> FAQ </a>
            </li>
            <li>
              <a href="/terms" class="hover:text-[#F5F6F6]"> Terms </a>
            </li>
            <li>
              <a href="/privacy" class="hover:text-[#F5F6F6]"> Privacy </a>
            </li>
            <li>
              <a href="/signup" class="hover:text-[#F5F6F6]"> Sign up </a>
            </li>
            <li>
              <a href="/signup" class="hover:text-[#F5F6F6]"> Sign In </a>
            </li>
          </ul>
        </div>

        <div class="mt-12 md:mt-0">
          <h3 class="text-lg text-[#F5F6F6] font-medium tracking-tight">Socials</h3>
          <ul role="list" class="mt-4 space-y-1">
            <li>
              <a
                href="https://www.linkedin.com/in/tanmayjuneja801/"
                class="hover:text-[#F5F6F6]"
              >
                @tanmayjuneja801
              </a>
            </li>
            <!-- <li>
              <a href="https://x.com/Mike_Andreuzza" class="hover:text-black">
                @Mike_Andreuzza
              </a>
            </li> -->
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
<footer class="">
  <div class="w-full bg-[#06151e]">
  <div
    class=" mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-6"
  >
    <div class="border-t pt-6">
      <p class="text-sm text-neutral-400 lg:col-span-2">
        © 2024 BLOZUM Inc. All rights reserved.
      </p>
    </div>
  </div>
</div>
</div>
</footer>
